{%extends 'facebook/base.html'%}
{% load static %} 
{% block extra_css %}
<link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/post.css' %}" />

{% endblock %}
{% block title %}CreatePost{% endblock %}


{% block body_block %}
<div class="register">
    <div class="register-form">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class='heading'>
                <span style="font-weight:bolder;font-size:3.2vh;line-height:3.5vh;">Create A post</span> <br>
                <span style="color:gray;line-height:3.5vh;">It's quick and easy.</span>
            </div>
            
            <div>
                <label for="media_file">Upload Media:</label>
                <input type="file" name="media_file" id="media_file">
            </div>
            <div>
                <label for="info_about_photo">Info about Photo:</label>
                <textarea name="info_about_photo" id="info_about_photo" rows="4" cols="50"></textarea>
            </div>
            <div class='create'>
                {{message}}
                <input type='submit' value='Create Post'>
            </div>
            
           
            

        </form>

    </div>
</div>


{% endblock%} 